In [14]:
import pandas as pd

import numpy as np

data=pd.read_csv("iris.csv")

data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [27]:
from sklearn.model_selection import train_test_split

x=data.drop("variety",axis=1)

y=data["variety"]

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [28]:
from sklearn.neighbors import KNeighborsClassifier

knn=KNeighborsClassifier(n_neighbors=1)

knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [29]:
x_new=np.array([[5,2.9,1,0.2]])

In [30]:
prediction=knn.predict(x_new)
data["variety"][prediction]

Setosa    NaN
Name: variety, dtype: object

In [31]:
y_pred=knn.predict(x_test)

np.mean(y_pred==y_test)

1.0